div{margin-bottom: 2vw;}


.k1{width: auto; height: 15vw; background-color: gold; }

.k2{width: auto; height: 4vw; background-color: red}

.k3{width: auto; height: 70vw; background-color: gray}

.k4{width: auto; height: 30vw; background-color: purple}